{% extends 'base.html.twig' %}

{% block body %}
    <div class="blog-header">
      <h1 class="blog-title">Blog</h1>
      <p>
        <a type="button" class="btn btn-primary" href="{{ path('_new') }}">Create a new post</a>
      </p>
    </div>


    {% for post in posts %}

        <div class="blog-post">
          <h2 class="blog-post-title"><a href="{{ path('_show', { 'id': post.id }) }}">{{ post.title }}</a></h2>
          <p class="blog-post-meta">{{ post.data|date('Y-m-d H:i:s') }}
            <a href="{{ path('_edit', { 'id': post.id }) }}">Update</a>
            <a href="{{ path('comment_index', { 'post_id': post.id }) }}">Comments</a>
          </p>
          <p>{{ post.content }}</p>
        </div>

    {% endfor %}

{% endblock %}
