{% extends 'base.html.twig' %}

{% block body %}

    <p class="blog-subtitle"> {{ post.title }}
      <a href="{{ path('_index') }}">Back to the list</a>
    </p>

    <div class="blog-post">
      <p class="blog-post-meta">{{ post.date|date('Y-m-d H:i:s') }}
        <a href="{{ path('_edit', { 'id': post.id }) }}">Update</a>
        <a href="{{ path('comment_index', { 'post_id': post.id }) }}">Comments</a>
      </p>
      <p>{{ post.content }}</p>
      <p>
        {{ form_start(delete_form) }}
          <input class="btn btn-primary" type="submit" value="Delete">
        {{ form_end(delete_form) }}
      </p>
    </div>

{% endblock %}
