{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment list</h1>

    <table>
        <thead>
            <tr>
                <th>Content</th>
                <th>Date</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path('comment_show', { 'post_id': post_id, 'id': comment.id }) }}">{{ comment.id }}</a></td>
                <td>{{ comment.content }}</td>
                <td>{% if comment.date %}{{ comment.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ comment.author }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comment_show', { 'post_id': post_id, 'id': comment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comment_edit', { 'post_id': post_id, 'id': comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <ul>

    </ul>

    <ul>
        <li>
            <a href="{{ path('comment_new', { 'post_id': post_id }) }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
