{% extends 'base.html.twig' %}

{% block body %}

    <p class="blog-subtitle"> Comment list
      <a href="{{ path('_index') }}">Back to the posts</a>
    </p>

    {% for comment in comments %}

        <div class="blog-post">
          <p class="blog-comment-content">{{ comment.content }}</p>
          <p class="blog-comment-meta">{{ comment.date|date('Y-m-d H:i:s') }} created by {{ comment.author }}
            <a href="{{ path('comment_edit', { 'post_id': post_id, 'id': comment.id }) }}">Update</a>
            <a href="{{ path('comment_show', { 'post_id': post_id, 'id': comment.id }) }}">Show</a>
          </p>
        </div>

    {% endfor %}

    <div class="blog-post">
      {{ form_start(form) }}
        {{ form_widget(form) }}
          <input class="btn btn-primary pull-right" type="submit" value="Comment" />
      {{ form_end(form) }}
    </div>

{% endblock %}
