{% extends 'base.html.twig' %}

{% block body %}

    <p class="blog-subtitle"> {{ comment.author }}</p>

    <div class="blog-post">
      <p class="blog-comment-content">{{ comment.content }}</p>
      <p class="blog-comment-meta">{{ comment.date|date('Y-m-d H:i:s') }} created by {{ comment.author }}
        <a href="{{ path('comment_edit', { 'post_id': post_id, 'id': comment.id }) }}">Update</a>
      </p>
      <p>
        {{ form_start(delete_form) }}
          <input class="btn btn-primary" type="submit" value="Delete">
        {{ form_end(delete_form) }}
      </p>
    </div>
{% endblock %}
